<div class="view intro jarallax" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.jpg); background-attachment: fixed; height: 1200px;">
    <div class="full-bg-img mask rgba-white-light">
        <div class="container">
            <div class="d-flex align-items-center d-flex justify-content-center" style="height: 1200px">
                <div class="row mt-5">
                    <div class="col-md-12 wow fadeIn mb-3">
                        <div class="intro-info-content text-center">
                            <h2 class="h1 display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">RUSSLLE MAY<br><a class="indigo-text font-bold">GARMA</a>
                            </h2>
                            <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">
                            </h5>
                            <div *ngIf="user.canEdit(users)">
                                <a mdbBtn color="light-green" size="lg" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s" (click)="basicModal.show()" *ngIf="addQuotes">Add My Quotes</a>
                                <a mdbBtn color="light-blue" size="lg" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s" (click)="basicModal.show()" *ngIf="!addQuotes && user.canEdit(users)">Add My Details</a>
                                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                                <a mdbBtn floating="true" color="transparent" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s">
                                    <mdb-icon fas icon="chevron-down" style="color:black" size="lg"></mdb-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100" id="myModalLabel">Add Post</h4>
            </div>
            <div class="modal-body">
                <app-post-form (post)="upload($event)" *ngIf="!addQuotes"></app-post-form>
                <app-add-post-form *ngIf="addQuotes" (post)="AddQuotes($event)"></app-add-post-form>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn class="waves-light btn btn-outline-danger" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-12 text-center mb-5">
            <h2 class="h1 font-bold light-blue-text my-5">Personal Background</h2>
            <p align="justify">Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor
                sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur
                quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit.
                Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis
                commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
                cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident
                rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis
                odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.</p>
        </div>
    </div>
</div> -->

<div class="view intro jarallax" style="background-image: none; z-index: 0; min-height: 700px;">
    <figure class="text-center fadeInBottomLeft">
        <div class="container flex-center">
            <div class="row mt-5 py-5">
                <div class="col-md-12 wow fadeIn mb-3" style="animation-name:fadeIn; visibility: visible;">
                    <div class="text-center">
                        <div class="row" *ngFor="let post of events" id="profile">
                            <div class="col-6">
                                <img [src]="post.images" class="figure-img img-fluid z-depth-1" alt="..." style="width: 500px">
                            </div>
                            <div class="col-6">
                                <figcaption class="figure-caption">
                                    <p style="font-family:'Times New Roman', Times, serif; font-size:20px;"><i>{{post.description}}</i></p>
                                    <a mdbBtn color="pink" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s" [routerLink]="['/about']">Read
                                            more</a>
                                </figcaption>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </figure>
    <!-- <div class="full-bg-img mask rgba-white-light">
        <div class="container flex-center">
            <div class="row mt-5 py-5">
                <div class="col-md-12 wow fadeIn mb-3" style="animation-name: none; visibility: visible;">
                    <div class="text-center">
                        <figure class="figure">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(73).jpg" class="figure-img img-fluid z-depth-1" alt="..." style="width: 400px">
                            <figcaption class="figure-caption">A caption for the above image.</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<div *ngFor="let post of postss">
    <div class="view intro jarallax" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/food2.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
        <div class="full-bg-img mask rgba-pink-slight">
        </div>
    </div>

    <div class="jarallax" data-speed="-0.2">
        <img class="jarallax-img" [src]="post.images" style="background-attachment: fixed; min-height: 100vh;">
        <div class="full-bg-img mask rgba-purple-slight">
            <div class="container">
                <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
                    <div class="row mt-5">
                        <div class="col-md-12 wow fadeIn mb-3">
                            <div class="intro-info-content text-center">
                                <h2 class="h1 display-1 white-text mb-2 wow fadeInDown" data-wow-delay="0.3s">{{post.description}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>