<a mdbBtn color="light-blue" size="lg" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s" (click)="basicModal.show()" *ngIf="!isSubmit">Add About Page</a>
<div *ngFor="let post of events">
    <div class="view intro jarallax" style="background-attachment: fixed; background-size: cover; min-height: 100vh" [ngStyle]="{'background-image': 'url(' + post?.images + ')'}">
        <div class="full-bg-img mask rgba-pink-slight">
            <div class="container">
                <div class="d-flex align-items-center d-flex justify-content-center" style="height: 100vh">
                    <div class="row mt-5">
                        <div class="col-md-12 wow fadeIn mb-3">
                            <div class="intro-info-content text-center">
                                <h2 class="h1 display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">{{post.title}}<br>
                                    <a class="indigo-text font-bold"></a>
                                </h2>
                                <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">
                                </h5>
                                <a mdbBtn color="light-green" size="lg" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s" (click)="basicModal.show()" *ngIf="isSubmit">Add Details to My About Page</a>
                                <br><br><br><br><br><br><br><br><br>
                                <a mdbBtn floating="true" color="transparent" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s">
                                    <mdb-icon fas icon="chevron-down" style="color:black" size="lg"></mdb-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="jarallax" data-speed="-0.2">
        <img class="jarallax-img" [src]="post.images" style="background-attachment: fixed; height: 100vh;">
        <div class="full-bg-img mask rgba-white-light">
            <div class="container">
                <div class="d-flex align-items-center d-flex justify-content-center" style="height: 100vh">
                    <div class="row mt-5">
                        <div class="col-md-12 wow fadeIn mb-3">
                            <div class="intro-info-content text-center">
                                <h2 class="h1 display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">{{post.title}}<br>
                                    <a class="indigo-text font-bold"></a>
                                </h2>
                                <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">
                                </h5>
                                <a mdbBtn color="light-blue" size="lg" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s" (click)="basicModal.show()" *ngIf="!isSubmit">Add About Page</a>
                                <a mdbBtn color="light-green" size="lg" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s" (click)="basicModal.show()" *ngIf="isSubmit">Add Details to My About Page</a>
                                <br><br><br><br><br><br><br><br><br>
                                <a mdbBtn floating="true" color="transparent" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s">
                                    <mdb-icon fas icon="chevron-down" style="color:black" size="lg"></mdb-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100" id="myModalLabel">Add Post</h4>
            </div>
            <div class="modal-body">
                <app-about-form (post)="upload($event)" *ngIf="!isSubmit"></app-about-form>
                <app-description-form (post)="addDetails($event)" *ngIf="isSubmit"></app-description-form>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn class="waves-light btn btn-outline-danger" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngFor="let post of events">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-12 text-center mb-5">
            <h2 class="h1 font-bold light-blue-text my-5">Personal Background</h2>
            <p align="justify">{{post.description}}</p>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>

<div *ngFor="let post of postss">
    <div class="view intro jarallax" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/food2.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
        <div class="full-bg-img mask rgba-pink-slight">
        </div>
    </div>
    <div class="jarallax" style="background-attachment: fixed; min-height: 700px">
        <img class="jarallax-img" [src]="post.images">
        <div class="full-bg-img mask rgba-purple-slight">
            <div class="container">
                <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
                    <div class="row mt-5">
                        <div class="col-md-12 wow fadeIn mb-3">
                            <div class="intro-info-content text-center">
                                <h2 class="h1 display-1 white-text mb-2 wow fadeInDown" data-wow-delay="0.3s">{{post.title}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-12 text-center my-5">
                <p align="justify">{{post.description}}</p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</div>