.container{
    text-align:center;
    margin-top:200px;
    margin-bottom:10px;
}
#card{
    color:white; 
    padding:10px; 
    background-color: rgba(0,0,0,0.2) !important;
}
#logo{
    height: 200px;
    width: auto;
}