<div class="view intro jarallax" style="background-image: url(https://walkintothefuture134225271.files.wordpress.com/2020/04/transition.jpg); background-attachment: fixed; background-size: cover; min-height: 500px">
    <div class="full-bg-img mask rgba-pink-slight">
        <div class="container">
            <div class="d-flex align-items-center d-flex justify-content-center" style="height: 500px">
                <div class="row mt-5">
                    <div class="col-md-12 wow fadeIn mb-3">
                        <div class="intro-info-content text-center">
                            <h2 class="h1 display-1 white-text mb-2 wow fadeInDown" data-wow-delay="0.3s">Travel Around The World
                            </h2>
                            <a mdbBtn color="pink" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s" (click)="basicModal.show()">Add Post</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
              <span aria-hidden="true">×</span>
            </button>
                <h4 class="modal-title w-100" id="myModalLabel">Add Post</h4>
            </div>
            <div class="modal-body">
                <app-post-form></app-post-form>
            </div>
            <div class="text-center form-sm mt-2">
                <button class="btn btn-info">Post <i class="fas fa-sign-in ml-1"></i></button>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn class="waves-light btn btn-outline-danger" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-12 text-center my-5">
            <div class="container">
                <figure class="figure">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(73).jpg" class="figure-img img-fluid z-depth-1" alt="..." style="width: 400px">
                    <figcaption class="figure-caption text-right">View Post</figcaption>
                </figure>
            </div>
        </div>
        <div class="col-md-12 text-center my-5">
            <h2 class="h1 font-bold grey-text mb-5">Lorem ipsum dolor sit amet, consectetur quis elit.</h2>
            <p align="justify">Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor
                sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur
                quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit.
                Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis
                commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
                cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident
                rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis
                odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.</p>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>