<div *ngIf="showPost">
    <app-art (value)="getValue($event)"></app-art>
</div>
<div *ngIf="!showPost">
    <div class="view intro jarallax" style="background-attachment: fixed; background-size: cover; min-height: 100vh" [ngStyle]="{'background-image': 'url(' + posts?.images + ')'}">
        <div class="full-bg-img mask rgba-pink-slight">
            <div class="container">
                <div class="d-flex align-items-center d-flex justify-content-center" style="height: 100vh">
                    <div class="row mt-5">
                        <div class="col-md-12 wow fadeIn mb-3">
                            <div class="intro-info-content text-center">
                                <h2 class="h1 display-1 white-text mb-2 wow fadeInDown" data-wow-delay="0.3s">My Life <br> Journey
                                </h2>
                            </div>
                            <a mdbBtn color="pink" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s" (click)="basicModal.show()">Add Post</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
              <span aria-hidden="true">×</span>
            </button>
                <h4 class="modal-title w-100" id="myModalLabel">Add Post</h4>
            </div>
            <div class="modal-body">
                <app-add-post-form (post)="upload($event)"></app-add-post-form>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn class="waves-light btn btn-outline-danger" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngFor="let post of postss">
    <div class="container">
        <figure class="text-center fadeInBottomLeft">
            <div class="container flex-center">
                <div class="row mt-5 py-5">
                    <div class="col-md-12 wow fadeIn mb-3" style="animation-name:fadeIn; visibility: visible;">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-6">
                                    <img [src]="post?.images" class="figure-img img-fluid z-depth-1" alt="..." style="width: 700px">
                                </div>
                                <div class="col-6">
                                    <figcaption class="figure-caption">
                                        <h5>{{post?.description}}</h5>
                                    </figcaption>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <figcaption class="btn-group" role="group">
                <button class="btn btn-link">Edit Post</button>
                <button class="btn btn-link" (click)="delete(post)">Delete Post</button>
            </figcaption>
        </figure>
        <hr>
    </div>
</div>