<form [formGroup]="postForm" (ngSubmit)="upload(postForm.value)">
    <!-- <span>{{uploadPercent | async}}</span> -->
    <div class="progress" *ngIf="isShow">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width.%]="uploadPercent | async" aria-valuemin="0" aria-valuemax="100">{{uploadPercent | async}}</div>
    </div>
    <img [src]="downloadURL | async" class="rounded mx-auto d-block" style="width: 400px; height: 300px;" *ngIf="!isShow" alt="Your Picture will Display Here!" />
    <div class="md-form mb-5">
        <i class="fas fa-image prefix grey-text"></i>
        <input type="file" id="orangeForm-email" formControlName="images" (change)="onUploadOutput($event)" class="form-control validate">

    </div>
    <div class="md-form mb-5">
        <i class="fas fa-image prefix grey-text"></i>
        <input type="text" id="orangeForm-email" formControlName="title" class="form-control validate" placeholder="Title">
    </div>
    <div class="md-form mb-4">
        <i class="fas fa-file prefix grey-text"></i>
        <textarea type="text" id="form8" class="md-textarea form-control" rows="4" formControlName="description" placeholder="Description..."></textarea>
    </div>
    <button class="btn btn-success btn-block">Upload</button>
</form>