<div class="view intro jarallax" style="background-image: url(https://us.123rf.com/450wm/olegdudko/olegdudko1511/olegdudko151121870/48216195-artistic-.jpg?ver=6); background-attachment: fixed; background-size: cover; min-height: 500px">
    <div class="full-bg-img mask rgba-pink-slight">
        <div class="container">
            <div class="d-flex align-items-center d-flex justify-content-center" style="height: 500px">
                <div class="row mt-5">
                    <div class="col-md-12 wow fadeIn mb-3">
                        <div class="intro-info-content text-center">
                            <h2 class="h1 display-1 white-text mb-2 wow fadeInDown" data-wow-delay="0.3s">The Art of Life
                            </h2>
                            <a mdbBtn color="pink" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s" (click)="basicModal.show()">Add Post</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
              <span aria-hidden="true">×</span>
            </button>
                <h4 class="modal-title w-100" id="myModalLabel">Add Post</h4>
            </div>
            <div class="modal-body">
                <app-post-form (post)="upload($event)"></app-post-form>
            </div>
            <div class="text-center form-sm mt-2">
                <button class="btn btn-info">Post <i class="fas fa-sign-in ml-1"></i></button>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn class="waves-light btn btn-outline-danger" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container" style="text-align:center; margin-top:10px;margin-bottom:10px">
    <div class="row">
        <div class="col-lg-4 col-md-3" *ngFor="let post of events">
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <figure>
                        <mdb-card-img class="image" [src]="post.images" alt="Card image cap"></mdb-card-img>
                    </figure>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <mdb-card-body>
                    <h4 class="card-title">
                        <strong>{{post.title}}</strong>
                    </h4>
                    <mdb-card-text id="description" maxlength="50">{{post.description}}</mdb-card-text>

                    <a class="orange-text mt-1 d-flex flex-row-reverse">
                        <h5 class="waves-effect p-2" mdbWavesEffect (click)="showPosts(post)">Read more
                            <mdb-icon fas icon="chevron-right"></mdb-icon>
                        </h5>
                    </a>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div><br><br>
</div>